<div class="modal fade" id="advancedSettings" tabindex="-1" aria-labelledby="advancedSettingsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="advancedSettingsLabel">Advanced Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="apiConfig" onsubmit="return false">
                    <div class="form-group">
                        <label for="clientIdInput">Client ID</label>
                        <input type="text" name="clientId" class="form-control" id="clientIdInput" aria-describedby="clientIdHelp">
                        <small id="clientIdHelp" class="form-text text-muted">This is optional unless you want to login
                            to your google account</small>
                    </div>
                    <div class="form-group">
                        <label for="apiKeyInput">API Key</label>
                        <input type="text" name="apiKey" class="form-control" id="apiKeyInput">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" name="remember" class="form-check-input" id="rememberThis" checked>
                        <label class="form-check-label" for="rememberThis">Save this data</label>
                    </div>
                    <button id="apply-api" class="btn btn-primary btn-block">Apply</button>
                </form>
            </div>
        </div>
    </div>
</div>