<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="#">Youtube Playlist Shuffler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".multi-collapse"
                   aria-expanded="false" aria-controls="player playerControll" href="#">Show Player</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#advancedSettings">Save Progress</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:authorize();">Authorize</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#advancedSettings">Advanced Settings</a>
            </li>
        </ul>
        <span class="navbar-text" role="status">
            <span class="d-inline-flex p-2">
                <span id="status-spin" class="mr-1 d-none">
                    <span class="spinner-border spinner-border-sm text-secondary">
                        <span class="sr-only">Loading...</span>
                    </span>
                </span>
                <span id="status-message" style="padding: 0.1rem !important;">
                    Standing By
                </span>
            </span>
        </span>
    </div>
</nav>