<div class="w-100 h-100 mr-5 ml-5">
    <div class="row h-100">
        <div class="col-12 h-100">
            <div class="collapse multi-collapse h-100" id="video-player">
                <div class="row h-100">
                    <div class="col-1 h-85">
                    </div>
                    <div class="col-10 h-85">
                        <div class="w-100" style="height: 93%;" id="player"></div>
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-outline-secondary btn-block btn-xs" onclick="playNextVideo();">
                                    <span class="material-icons">skip_next</span>
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-outline-secondary btn-block btn-xs" onclick="playNextVideo();">
                                    <span class="material-icons">repeat_one</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 h-85">

                    </div>
                    <div class="col-12 h-15">
                        <hr class="my-1">
                        <h4 id="video-title" class="mt-1"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
