<div class="m-5">
    <p>
        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse"
                data-target=".multi-collapse"
                aria-expanded="false" aria-controls="player playerControll">Toggle both elements
        </button>
    </p>
    <div class="row">
        <div class="col-12">
            <div class="collapse multi-collapse" id="playerControl">
                <div class="d-flex justify-content-around p-2">
                    <div class="flex-fill player-control">
                        <a href="#" class="d-flex justify-content-center hover-decor-none">
                            <span class="material-icons icon-size-30 p-1">skip_next</span>
                        </a>
                    </div>
                    <div class="flex-fill player-control">
                        <a href="#" class="d-flex justify-content-center hover-decor-none">
                            <span class="material-icons icon-size-30 p-1">shuffle</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="collapse multi-collapse" id="video-player">
                <div class="row">
                    <div class="col-9 bg-primary" id="player"></div>
                    <div class="col-3">
                        <div class="table-responsive">
                        <table class="table table-hover m-0">
                            <thead>
                            <tr class="d-none">
                                <th scope="col">TODO</th>
                                <th scope="col">TODO</th>
                                <th scope="col">TODO</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="d-flex">
                                <th scope="row" class="col-1 align-middle"><span class="align-middle"></span></th>
                                <td class="col-4 m-0 p-0">
                                    <img src="https://i.ytimg.com/vi/az2Q7pjClYM/default.jpg" class="mw-100"
                                         alt="PLACE_HOLDER_IMAGE"></td>
                                <td class="col-7 pl-1"><span class="text-left">PLACE_HOLDER</span></td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
