.icon-size-30
{
    font-size: 30px !important;
}

.hover-decor-none:hover
{
    text-decoration: none !important;
}

.player-control:hover
{
    background-color: #ededed;
}

.h-85 {height: 85% !important;}

.h-15 {height: 15% !important;}

html,body{height:100%;}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
